= form_for @user do |f|
  .well
    .container
      .row
        .col-sm-8.col-md-6
          = render 'shared/errors', obj: @user
          .form-input
            = f.label :username
            = f.text_field :username, class: 'form-control'
      .row
        .col-sm-8.col-md-6
          .form-input
            = f.label :password
            = f.text_field :password, class: 'form-control'
      .row
        .col-sm-8.col-md-6
          .form-input
            = f.submit(@user.new_record? ? 'Register' : 'Update Profile', class: 'btn btn-success')