- if @post.errors.any?
  .alert.alert-danger
    %h5
      Please revise the following errors:
    %ul
      - @post.errors.full_messages.each do |msg|
        %li
          = msg

= form_for @post do |f|
  .col-lg-6
    .well#post-form-bkgnd
      .row
        .col-lg-12
          .form-input
            = f.label :title
            = f.text_field :title, class: 'form-control'
      .row
        .col-lg-12
          .form-input
            = f.label :description
            = f.text_area :description, class: 'form-control'
      .row
        .col-lg-12
          .form-input
            = f.label :url
            = f.text_field :url, class: 'form-control'
      .row
        .col-lg-12
          .form-input
            = f.submit nil, class: 'btn btn-primary'